#message-box {
    width: inherit;
    height: 85vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    border: 3px dotted crimson;
    margin: 5;
    padding: 1px 2px;
  }
  
  #message-box ul {
    position: relative;
    bottom: 0;
    list-style: none;
  }
  
  input {
    width: 91%;
    height: 30px;
    display: inline-block;
  }
  
  h1 {
    color: cornflowerblue;
    size: 3em;
  }
  
  #main li:nth-child(even) {
    color: blue;
  }
  
  #main li:nth-child(odd) {
    color: red;
  }