::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

#message-box {
    width: inherit;
    height: 80vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    border: 1px grey solid;
    margin: 5px 0;
    padding: 1px 2px;
  }
  
  #message-box ul {
    position: relative;
    bottom: 0;
    list-style: none;
  }
  
  input {
    border: none;
    width: 91%;
    height: 30px;
    display: inline-block;
  }
  
  h1 {
    color: cornflowerblue;
    size: 3em;
  }
  
  #main li:nth-child(even) {
    color: blue;
  }
  
  #main li:nth-child(odd) {
    color: red;
  }